<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <targets>
    <target xsi:type="ColoredConsole" 
            name="logconsole"
            layout="${longdate} ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
    </target>
  </targets>

  <rules>
    <!-- Microsoft framework logs -->
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />

    <!-- System framework logs -->
    <logger name="System.*" maxlevel="Warn" final="true" />
    
    <!-- ASP.NET Core hosting logs -->
    <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Error" final="true" />

    <!-- Entity Framework logs -->
    <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" final="true" />
    
    <!-- All other logs -->
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>