// using NLog;
// using SensorsReport;

// LogManager.Setup().ConfigureLogger();
// var logger = LogManager.GetCurrentClassLogger();
// logger.Info("Application starting...");

// logger.LogProgramInfo(AppDomain.CurrentDomain, args);
// var builder = AppConfig.GetDefaultWebAppBuilder();
// var app = builder.Build();
// app.ConfigureApp()
//     .ConfigureSwagger()
//     .ConfigureDefaultEndpoints()
//     .Run();